# 忽略 Excel 資料檔
*.xlsx
# 忽略設定檔（包含你的 COM Port 紀錄）
config.json
# 忽略 Python 快取
__pycache__/
*.py[cod]
# 忽略執行黨
*.exe
# 忽略日誌檔
*.log
# 忽略虛擬環境資料夾
venv/
# 忽略其他不必要的檔案
*.tmp
*.bak
*.swp
build/
dist/
output/release/
*.spec
output/*.zip
